/* body {
    background-color: 
} */

.pokemon-list {
    margin-top: 100px;
}

.pokemon-button {
    box-sizing: border-box;
    height: 150px;
    width: 150px;
}

.img-main {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
}

/* .img-front {
    display: inline-flex;
 }  */

/* .img-back {
    display: inline-flex;
}    */

/* 
.button-class {
    padding: 10px 32px;
    margin: 5px;
    background-color: white;
}

.list-class {
    display: block;
    text-align: center;    
    list-style-type: none;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}


.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 500px;
} 

.modal-close {
    float: right;
    border: 0;
    background: none;
    color: #777;
    text-decoration: none;
    cursor: pointer;
}

.pokemon-name {
    text-align: center;
}




