
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@424&family=Poetsen+One&family=Poppins&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --navbar-color: linear-gradient(to right, #362E4A, #7A68A8);
    --button-color: linear-gradient(to right, #544873, #7A68A8, #AD93ED);
    --scroll-button: linear-gradient(to right, #292338, #7A68A8);
    --modal-img-color: #E2D6FF;
    --navlink-color: #ffff;
    --button-color-hover: #AD93ED;
    --body-color: #F5FFF2;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 1000;
    font-style: normal;
    background-color: var(--body-color);
}

.navbar {
    background: var(--navbar-color);
}

.navbar-brand {
    color: var(--navlink-color);
}

.nav-link {
    color: var(--navlink-color);
}

.row {
    margin-top: 100px;
}

.pokemon-button {
    box-sizing: border-box;
    height: 120px;
    width: 150px;
    border: none;
    opacity: 95%;
    background: var(--button-color);
}

.pokemon-button:hover {
    transition: .75s ease-out linear;
    background: var(--button-color-hover);
}

.modal-content {
    background: #F0EBFF;
}

.modal-body {
    font-weight: 400;
}

.pokemon-height {
    margin-top: 15px;
    margin-bottom: 10px;
}

.pokemon-weight {
    margin-bottom: 10px;
}

.pokemon-types {
    margin-bottom: 10px;
}

.img-main {
    height: 100px;
    width: 100px;
}

.img-container {
    background: var(--modal-img-color);
    padding: 50px;
}

.img-front {
    height: 150px;
    width: 150px;
}

.img-back {
    height: 150px;
    width: 150px;
}

.search-bar {
    max-width: 300px;
}

#scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    z-index: 99%;
    border: none;
    outline: none;
    background: var(--button-color);
    padding: 5px 13px;
    border-radius: 100%;
    font-size: 25px;
}

.navbar-brand:hover,
.nav-link:hover {
    animation-duration: .5s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes color-change {
    0% {
        color: #edc655;
    }
    50% {
        color: #fcffad
    }
    100% {
        color: #f76414;
    }
}





